*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: roboto;
    background-color: rgba(230,230,230);
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.card{
    width: 300px;
    height: 300px;
    background-color:#fff;
    color:black;
    border: 1px solid grey;
    display: grid;
    &__img{
        display: block;
        width: 100%;
        height: 100px;
        background-color: pink;
    }
    &__list{
        padding: 1rem 1rem 0rem 1rem;
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
    }
    &__item{
        font-size: 14px;
        background-color: grey;
        padding: .3rem .5rem;
        border-radius: 5px;
        color: white;
        
    }
    &__description{
        padding: 1rem;
        font-size: 14px;
    }
    &__button{
        display:block;
        font-size: 15px;
        background-color:steelblue;
        padding: .5rem 1rem;
        color: white;
    }
}